<form method="POST" action="/signup">
    <h1>Registro de Usuario</h1>
    {{#if error}}
        <h2>{{error}}</h2>
    {{/if}}
    <div>
        <label>Usuario</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Contraseña</label>
        <input type="text" name="password"/>
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <input type="submit" name="register" value="Register">
        <br>
        <a href="/login">Volver al Login</a> 
    </div>    
</form>