form(action='/api/productos' method='POST') 
        label Title
        input(type="text" name="title")
        |
        br
        |
        label Price
        
        input(type="text" name="price")
        |
        br
        |
        label Thumbnail
        input(type="text" name="thumbnail")
        |
        br
        |
        input(type="submit")
