<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Desafio 12</title>
        <script src='.../socket.io/socket.io.js'></script>
        <script>
            const socket = io();
            const form = document.getElementById('form');
            debugger;
            form.addEventListener('submit', (event)=>{
                event.preventDefault();
                console.log("PREVENT!");                            });
        </script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>