<form>
    <h1>Login</h1>
    <div>
        <label>Usuario</label>
        <input type="text" name="user"/>
    </div>
    <div>
        <label>Contraseña</label>
        <input type="text" name="password"/>
    </div>
    <div>
        <input type="submit" name="login" value="Login">
        <br>
        <a href="/register"/>Registrarse</a> 
    </div>    
</form>