<form>
    <h1>Registro de Usuario</h1>
    <div>
        <label>Usuario</label>
        <input type="text" name="user"/>
    </div>
    <div>
        <label>Contraseña</label>
        <input type="text" name="password"/>
    </div>
    <div>
        <input type="submit" name="register" value="Register">
        <br>
        <a href="/login">Volver al Login</a> 
    </div>    
</form>