<form action='/api/productos' method="POST">
    <label>Title</label><br>
    <input type="text" name="title"><br>
    <label>Price</label><br>
    <input type="text" name="price"><br>
    <label>Thumbnail</label><br>
    <input type="text" name="thumbnail"><br>
    <input type="submit">        
</form>
<a target="./add"></a> 